:root {
  --primary-background-color: #ffffff;
  --alternative-background-color: #2f303a;
  --backgroung-color-hero: #c4c4c4;
  --acccent-background-color: #f5f4fa;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --alternative-text-color: rgba(255, 255, 255, 0.6);
  --icon-footer: rgba(255, 255, 255, 0.1);
  --accent-color: #2196f3;
  --icon-background-socials: #afb1b8;
  --button-hero-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  --button-portfolio-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --button-portfolio-shadow-active: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --button-accent-color: #188ce8;
  --font-family-primary: "Roboto";
  --border-color-header: #ececec;
  --border-color-portfoli-cards: #eeeeee;
  --shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-example: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --overlay-cover-img: rgba(47, 48, 58, 0.4);
}

/* Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: var(--font-family-primary), Verdana, Tahoma, arial, sans-serif;
  font-weight: 400;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.work {
  padding-top: 0;
}
/* Site-nav */

.header {
  border-bottom: var(--border-color-header) 1px solid;
}

.container.head {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-nav {
  color: var(--primary-text-color);
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Header contact */

.header-contact {
  display: flex;
  margin-left: auto;
}

.contact {
  display: flex;
  align-items: center;
}

.header-contact .item + .item {
  margin-left: 30px;
}

.header-contact .contact {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  /* line-height:1.1; */
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.header-contact .contact:hover,
.header-contact .contact:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      var(--overlay-cover-img),
      var(--overlay-cover-img)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--backgroung-color-hero);
  text-align: center;
}

.hero-title {
  margin: 0 auto 40px;
  /* margin-top: 0;
    margin-bottom: 40 px;
    margin-left: auto;
    margin-right: auto; */
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /* text-align: center; */
  text-transform: uppercase;
  color: var(--primary-background-color);
}

/* Buttons */

.button {
  display: inline-block;
  border-color: transparent;
  border-radius: 4px;
  text-align: center;
}

.button.heroes {
  min-width: 200px;
  padding: 10px 32px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: var(--button-hero-shadow);
}

.button.heroes:hover,
.button.heroes:focus {
  background-color: var(--button-accent-color);
  cursor: pointer;
}

.button.portfolio {
  /* margin-bottom: 50px; */
  min-width: 73px;
  padding: 6px 22px;
  background-color: var(--acccent-background-color);
  font-family: var(--font-family-primary);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.button.portfolio:hover,
.button.portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
  box-shadow: var(--button-portfolio-shadow-active);
}

/* Body */
.ident-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--title-text-color);
}

.ident-title.description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.ident-title.team {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.ident-title.portfolio {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.section-title-none {
  display: none;
}

.feachers {
  display: flex;
}

.feachers .item {
  width: 270px;
}

.feachers .item + .item {
  margin-left: 30px;
}

/* .feachers li{
    outline: 1px solid tomato;
} */

.feachers-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Чем мы занимаемся */

.affair {
  display: flex;
}

.affair .item {
  width: 370;
  /* font-size: 0 */
}

.affair .item + .item {
  margin-left: 30px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Our clients */

.clients.list {
  display: flex;
}

.clients .client-desk + .client-desk {
  margin-left: 30px;
}

.client-desk {
  display: flex;
  width: 170px;
  height: 92px;

  /* gap: 30px;
    flex-basis: calc((100% -150px) / 6);  */
  /* width: 170px; */
}

/* main portfolio */
.portfolio.list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio .item + .item {
  margin-left: 8px;
}

.example.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% -60px) / 3);
}

.border-port {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-right: 1px solid var(--border-color-portfoli-cards);
  border-bottom: 1px solid var(--border-color-portfoli-cards);
  border-left: 1px solid var(--border-color-portfoli-cards);
}

.example .item:hover {
  box-shadow: var(--shadow-example);
  cursor: pointer;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Our team */
.section.team {
  background-color: var(--acccent-background-color);
}

.team.list {
  display: flex;
}

.team.apart {
  background-color: var(--primary-background-color);
  box-shadow: var(--shadow-team);
  border-radius: 0px 0px 4px 4px;
}

.team .apart + .apart {
  margin-left: 30px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name-team {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon-team {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-background-socials);
  width: 100%;
  height: 100%;
}

.item .icon-team:hover,
.item .icon-team:focus{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--accent-color);
    fill: var(--primary-background-color);
}


/* Footer */
.footer {
  background-color: var(--alternative-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-background-color);
}

.container.cellar {
  display: flex;
}

.footer-adress {
  margin-top: 20px;

  color: var(--primary-background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contact {
  display: block;
  margin-top: 9px;

  color: var(--alternative-text-color);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.community{
    margin-left: 70px;
}

.list-come-in{ 
    margin-top: 12px;
    margin-bottom: 20px;

}

.come-in{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-background-color);
}

.socials.list {
  display: flex;
  justify-content: center;
}

.socials .item + .item{
    margin-left: 10px;
}

.socials .item{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-footer) ;
}

.icon-footer{
    display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--primary-background-color);
        width: 100%;
        height: 100%;
}

.item .icon-footer:hover,
.item .icon-footer:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
}


/* Icon svg */

.icon-envelope {
  fill: currentColor;
  margin-right: 10px;
}

.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

/* svg-feachers */
.svg-feachers {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--acccent-background-color);
  height: 120px;
}

/* svg-client */
/* .icon-client{
    fill: var(--icon-socials);
} */

.client-web {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-background-socials);
  width: 100%;
  height: 100%;

  border: 1px solid var(--icon-background-socials);
  border-radius: 4px;
}

.client-web:hover,
.client-web:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
